{% extends "base_page.html" %}

{% block page-title %}
Словарь английских терминов
{% endblock %}

{% block page-lead %}
Данная страница - интерактивный словарь  <br/>
{% endblock %}
}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Словарь</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div
              class="bg-success p-2"
              style="bg-opacity-10;
                    background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url('https://img.freepik.com/premium-vector/london-city-scene-with-telephone-line-big-ben-architecture-hand-drawn-illustration_511296-272.jpg?w=1060');
                    background-repeat: no-repeat;
                    background-size: cover
                    "
            >
                <h3 class="fs-2">Словарь</h3>
                <p>Здесь находится таблица добавленных слов</p>
                <a href="/terms-list" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div
                    class="bg-success p-2"
                    style="bg-opacity-10;
                        background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url('https://img.freepik.com/premium-vector/london-city-scene-with-telephone-line-big-ben-architecture-hand-drawn-illustration_511296-272.jpg?w=1060');
                        background-repeat: no-repeat;
                        background-size: cover

                        "

            >
                <h3 class="fs-2">Форма для добавления нового слова</h3>
                <a href="/add-term" class="btn btn-primary">
                    Добавить
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div
                    class="bg-success p-2"
                    style="bg-opacity-10;
                        background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url('https://img.freepik.com/premium-vector/london-city-scene-with-telephone-line-big-ben-architecture-hand-drawn-illustration_511296-272.jpg?w=1060');
                        background-repeat: no-repeat;
                        background-size: cover

                        "

            >
                <h3 class="fs-2">Статистика</h3>
                <p>Сколько слов уже есть? Какой они длины?</p>
                <a href="/stats" class="btn btn-primary">
                    Изучить
                </a>
            </div>
        </div>
    </div>
    <h2 class="pb-2 border-bottom">Заучивание</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div
                    class="bg-success p-2"
                    style="bg-opacity-10;
                        background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url('https://img.freepik.com/premium-vector/london-city-scene-with-telephone-line-big-ben-architecture-hand-drawn-illustration_511296-272.jpg?w=1060');
                        background-repeat: no-repeat;
                        background-size: cover

                        "

            >
                <h3 class="fs-2">Выбор слов для флэш-карт</h3>
                <a href="/select-term-flashcards" class="btn btn-primary">
                    Выбрать
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div
                    class="bg-success p-2"
                    style="bg-opacity-10;
                        background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url('https://img.freepik.com/premium-vector/london-city-scene-with-telephone-line-big-ben-architecture-hand-drawn-illustration_511296-272.jpg?w=1060');
                        background-repeat: no-repeat;
                        background-size: cover

                        "

            >
                <h3 class="fs-2">Просмотр флэш-карт</h3>
                <p>Тут можно выучить слова</p>
                <a href="/term-flashcards" class="btn btn-primary">
                    Учить
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
