{% extends "base_page.html" %}

{% block page-title %}
Список слов
{% endblock %}


{% block content %}

<div class="container px-4 py-5" id="terms-table">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr class="table-dark">
              <th scope="col" class="py-3">№</th>
              <th scope="col" class="py-3">Слово (EN)</th>
              <th scope="col" class="py-3">Транскрипция</th>
                <th scope="col" class="py-3">Перевод (RU) </th>
            </tr>
          </thead>
          <tbody>
            {% for cnt, term, transcription, translation  in terms %}
            <tr>
                <td class="py-3">{{ cnt }}</td>
                <td class="py-3">{{ term }}</td>
                <td class="py-3">{{ transcription }}</td>
                <td class="py-3">{{ translation}}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
